{% extends 'layout.html' %}
{% block title%}
Home-Instructor
{% endblock %}
{% block sideitem %}
<li class="sidebar-item">
    <a href="{% url 'inshome' %}" class="sidebar-link">Home</a>
</li>
<li class="sidebar-item">
    <a href="#" class="sidebar-link">Add Course</a>
</li>
{% endblock %}
{% block main %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
		<div class="form-group">
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
			{{ field }}
			{% if field.errors %}
			    <div class="error">{{ field.errors }}</div>
			{% endif %}
		</div>
	{% endfor %}
    <div class="input-group mb-1">
        <button type="submit" class="btn btn-lg btn-dark w-100 fs-6">Add</button>
    </div>
</form>
{% endblock %}