{% extends 'layout.html' %}
{% block title%}
Home-Student
{% endblock %}
{% block sideitem %}
<li class="sidebar-item">
    <a href="{% url 'stuhome' %}" class="sidebar-link">Home</a>
</li>
<li class="sidebar-item">
    <a href="#" class="sidebar-link">My Courses</a>
</li>
{% endblock %}
{% block main %}
<h2 class="text-center" style="font-family: 'Poppins', sans-serif;">Enrolled Courses</h2><br>
<div class="row row-cols-1 row-cols-md-4 g-4 py-5">
    {% for course, enrollment in combined %}
    <div class="col">
        <div class="card">
            <img src="{{ course.cover.url }}" class="card-img-top" alt="Subject">
            <div class="card-body">
                <h4 class="text-center card-title">{{ course.title }}</h4>
                <h5 class="text-center card-title">Offered by {{ course.user }}</h5>
            </div>
            {% if enrollment %}
            <div class="d-flex justify-content-around">
                <a href="{% url 'mycoursepreview' course.id %}" class="btn btn-lg btn-success">Course Completed</a>
            </div>
            {% else %}
            <div class="d-flex justify-content-around">
                <a href="{% url 'mycoursepreview' course.id %}" class="btn btn-lg btn-dark">Go To Course</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}